<div class="footer bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col mt-5  mb-4">
        <div class="ftr-img"><img src="./assets/images/tglogo.jpg"></div><br>
        <div class="ftr-abt">
          <p>We are here to Provide you Excellent Experience and a great trip.</p>
          <p>You will have a nice time with our services</p>
        </div>
      </div>
      <div class="col mt-5 mb-4">
        <div class="ftr-abt">
          <ul class="list-unstyled">
            <li>
              <h5>About Us</h5>
              <p class="mt-0 font-weight-bold">________</p>

            </li><br>
            <li>
              <h6>Contat Us</h6>
            </li>
            <li><a href="tel:1234 567 890">1234 567 890</a></li>
            <li><a href="mailto:contact@gmail.com">contact@gmail.com</a></li>
          </ul>

        </div>
        <div class="part">
            <h5>Our Social-link parters</h5>
            <p class="mt-0 font-weight-bold">___________________</p>
        </div>
        <div class="social-links row pl-3">            
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/youtube.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/twitter.png"></a>
            <a href="https://www.google.com/" target="_blank"><img src="./assets/images/google.png"></a>
        </div>

      </div>
      <div class="col services mt-5">
        <ul class="list-unstyled">
            <h5>Our Services</h5>
            <p class="mt-0 font-weight-bold">______________</p>
            <li>Hotels</li>
            <li>Fligths</li>
            <li>Cars</li>
            <li>Cruises</li>
            <li>Special Packages</li>
        </ul>
      </div>
      <div class="col subscribe mt-5">
          <h5>Subscription</h5>
          <p class="mt-0 font-weight-bold">______________</p>
          <h6 class="mb-3">Subscribe for more Information</h6>
          <div class="input-group mb-3">
            
            <input type="text" class="form-control" placeholder="Your Email" id="mail"
                name="email"> 
           
        </div>

        <button type="submit" class="btn btn-success font-weight-bold">Subscribe</button>

      </div>
    </div>
  </div>
</div>
<div class="ftr-cpyryt">
    <p>© Website - 2022 | All Right Reserved. Designed By Website</p>
</div>
