<div class="enquiry">
  <div class="image">
    <img src="./assets/images/book1.jpg">
  </div>
  <div class="enq">
    <p>Enquiry/Booking</p>
  </div>


  <div class="container d-flex">
    <div class="tabs-enq">
      <h2>Enquiry</h2>
      <br>
      <!-- Nav pills -->
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#menu1">Hotel Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu2">Flights Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu3">Cruise Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu4">Cars Bookings</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="menu1" class="container tab-pane active"><br>
          <h3>Yours Pesonal Information</h3>
          <label for="fn" class="font-weight-bold">First Name</label>
          <input type="text" name="fname" id="fn" placeholder="Enter First Name"><br>
          <label for="ln" class="font-weight-bold">Last Name</label>
          <input type="text" name="lname" id="n" placeholder="Enter Last Name"><br>

          <label for="ln" class="font-weight-bold">Email Id</label>
          <input type="text" name="lname" id="n" placeholder="Enter Email Id"><br>

          <label for="ln" class="font-weight-bold">Confirm Your EmailId</label>
          <input type="text" name="lname" id="n" placeholder="Confirm Your EmailId"><br>

          <label for="ln" class="font-weight-bold">County Code</label>
          <input type="text" name="lname" id="n" placeholder="Enter County Code"><br>

          <label for="ln" class="font-weight-bold">Phone Number</label>
          <input type="text" name="lname" id="n" placeholder="Enter Phone Number"><br>    

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
          <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
          <hr>
          <h3>Your Card Information</h3>
          <label for="cn" class="font-weight-bold">Card Type</label>
          <span><select name="type" id="type">
            <option value="">Select Card Type</option>
              <option value="">VISA</option>
              <option value="">Maestro</option>
              <option value="">RuPay</option>
              <option value="">Credit Card</option>

          </select></span><br>

          <label for="cn" class="font-weight-bold">Enter Your Card Number</label>
          <input type="text" name="cno" id="cn" placeholder="Enter Your Card Number"><br>

          <label for="cname" class="font-weight-bold">Enter Card Holder Name</label>
          <input type="text" name="cname" id="cname" placeholder="Enter Card Holder Name"><br>

          
          <label for="cname" class="font-weight-bold">Expiry Month</label>
          <input type="text" name="cname" id="cname" placeholder="mm/dd"><br>

          
          <label for="cname" class="font-weight-bold">CVV</label>
          <input type="text" name="cname" id="cname" placeholder="***"><br>

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
            <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
            <hr>

            <button class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button" type="button">Confirm Booking</button>



        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h3>Yours Pesonal Information</h3>
          <label for="fn" class="font-weight-bold">First Name</label>
          <input type="text" name="fname" id="fn" placeholder="Enter First Name"><br>
          <label for="ln" class="font-weight-bold">Last Name</label>
          <input type="text" name="lname" id="n" placeholder="Enter Last Name"><br>

          <label for="ln" class="font-weight-bold">Email Id</label>
          <input type="text" name="lname" id="n" placeholder="Enter Email Id"><br>

          <label for="ln" class="font-weight-bold">Confirm Your EmailId</label>
          <input type="text" name="lname" id="n" placeholder="Confirm Your EmailId"><br>

          <label for="ln" class="font-weight-bold">County Code</label>
          <input type="text" name="lname" id="n" placeholder="Enter County Code"><br>

          <label for="ln" class="font-weight-bold">Phone Number</label>
          <input type="text" name="lname" id="n" placeholder="Enter Phone Number"><br>    

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
          <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
          <hr>
          <h3>Your Card Information</h3>
          <label for="cn" class="font-weight-bold">Card Type</label>
          <span><select name="type" id="type">
            <option value="">Select Card Type</option>
              <option value="">VISA</option>
              <option value="">Maestro</option>
              <option value="">RuPay</option>
              <option value="">Credit Card</option>

          </select></span><br>

          <label for="cn" class="font-weight-bold">Enter Your Card Number</label>
          <input type="text" name="cno" id="cn" placeholder="Enter Your Card Number"><br>

          <label for="cname" class="font-weight-bold">Enter Card Holder Name</label>
          <input type="text" name="cname" id="cname" placeholder="Enter Card Holder Name"><br>

          
          <label for="cname" class="font-weight-bold">Expiry Month</label>
          <input type="text" name="cname" id="cname" placeholder="mm/dd"><br>

          
          <label for="cname" class="font-weight-bold">CVV</label>
          <input type="text" name="cname" id="cname" placeholder="***"><br>

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
            <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
            <hr>

            <button class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button" type="button">Confirm Booking</button>




        </div>
        <div id="menu3" class="container tab-pane fade"><br>
          <h3>Yours Pesonal Information</h3>
          <label for="fn" class="font-weight-bold">First Name</label>
          <input type="text" name="fname" id="fn" placeholder="Enter First Name"><br>
          <label for="ln" class="font-weight-bold">Last Name</label>
          <input type="text" name="lname" id="n" placeholder="Enter Last Name"><br>

          <label for="ln" class="font-weight-bold">Email Id</label>
          <input type="text" name="lname" id="n" placeholder="Enter Email Id"><br>

          <label for="ln" class="font-weight-bold">Confirm Your EmailId</label>
          <input type="text" name="lname" id="n" placeholder="Confirm Your EmailId"><br>

          <label for="ln" class="font-weight-bold">County Code</label>
          <input type="text" name="lname" id="n" placeholder="Enter County Code"><br>

          <label for="ln" class="font-weight-bold">Phone Number</label>
          <input type="text" name="lname" id="n" placeholder="Enter Phone Number"><br>    

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
          <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
          <hr>
          <h3>Your Card Information</h3>
          <label for="cn" class="font-weight-bold">Card Type</label>
          <span><select name="type" id="type">
            <option value="">Select Card Type</option>
              <option value="">VISA</option>
              <option value="">Maestro</option>
              <option value="">RuPay</option>
              <option value="">Credit Card</option>

          </select></span><br>

          <label for="cn" class="font-weight-bold">Enter Your Card Number</label>
          <input type="text" name="cno" id="cn" placeholder="Enter Your Card Number"><br>

          <label for="cname" class="font-weight-bold">Enter Card Holder Name</label>
          <input type="text" name="cname" id="cname" placeholder="Enter Card Holder Name"><br>

          
          <label for="cname" class="font-weight-bold">Expiry Month</label>
          <input type="text" name="cname" id="cname" placeholder="mm/dd"><br>

          
          <label for="cname" class="font-weight-bold">CVV</label>
          <input type="text" name="cname" id="cname" placeholder="***"><br>

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
            <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
            <hr>

            <button class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button" type="button">Confirm Booking</button>




        </div>
        <div id="menu4" class="container tab-pane fade"><br>
          <h3>Yours Pesonal Information</h3>
          <label for="fn" class="font-weight-bold">First Name</label>
          <input type="text" name="fname" id="fn" placeholder="Enter First Name"><br>
          <label for="ln" class="font-weight-bold">Last Name</label>
          <input type="text" name="lname" id="n" placeholder="Enter Last Name"><br>

          <label for="ln" class="font-weight-bold">Email Id</label>
          <input type="text" name="lname" id="n" placeholder="Enter Email Id"><br>

          <label for="ln" class="font-weight-bold">Confirm Your EmailId</label>
          <input type="text" name="lname" id="n" placeholder="Confirm Your EmailId"><br>

          <label for="ln" class="font-weight-bold">County Code</label>
          <input type="text" name="lname" id="n" placeholder="Enter County Code"><br>

          <label for="ln" class="font-weight-bold">Phone Number</label>
          <input type="text" name="lname" id="n" placeholder="Enter Phone Number"><br>    

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
          <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
          <hr>
          <h3>Your Card Information</h3>
          <label for="cn" class="font-weight-bold">Card Type</label>
          <span><select name="type" id="type">
            <option value="">Select Card Type</option>
              <option value="">VISA</option>
              <option value="">Maestro</option>
              <option value="">RuPay</option>
              <option value="">Credit Card</option>

          </select></span><br>

          <label for="cn" class="font-weight-bold">Enter Your Card Number</label>
          <input type="text" name="cno" id="cn" placeholder="Enter Your Card Number"><br>

          <label for="cname" class="font-weight-bold">Enter Card Holder Name</label>
          <input type="text" name="cname" id="cname" placeholder="Enter Card Holder Name"><br>

          
          <label for="cname" class="font-weight-bold">Expiry Month</label>
          <input type="text" name="cname" id="cname" placeholder="mm/dd"><br>

          
          <label for="cname" class="font-weight-bold">CVV</label>
          <input type="text" name="cname" id="cname" placeholder="***"><br>

          <input type="checkbox" name="chk-b" id="chk-bx"><span>
            <a href="">By Continuing You agree to the *Terms and Conditios</a></span>
            <hr>

            <button class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button" type="button">Confirm Booking</button>




        </div>
      </div>
    </div>






    <div class="tab-img">
<img src="./assets/images/hotel1.jfif">
<img src="./assets/images/indigo.jfif">
<img src="./assets/images/cruise1.jfif">
<img src="./assets/images/car3.jfif">

    </div>
  </div>
</div>
