<div class="abt-us">
  <h2>About us</h2>
  <div class="serv">
    <div class="our-srvice text-center">
      <p>CALL OUR AGENTS TO BOOK</p>
      <h4>TO BOOK A NICE TRIP</h4>
      <h4>AND ALSO TO HAVE A GREAT VACCATION</h4>
    </div>
    <div class="container">
    <div class="options d-flex">
      <div class="borde">
        <div class="body"><i class="fas fa-address-book"></i>
          <p>We Have</p>
          <p>8000+ our Local Guides</p>
        </div>
      </div>
      <div class="borde">
        <div class="body"><i class="far fa-thumbs-up"></i>
          <p>100% Trusted Tour</p>
          <p>Agency</p>
        </div>
      </div>

      <div class="borde">
        <div class="body"><i class="fas fa-calendar-plus"></i>
          <p>28+ Year of travel</p>
          <p>Experience</p>
        </div>
      </div>
      <div class="borde">
        <div class="body"><i class="far fa-smile"></i>
          <p>98% Our Travellers</p>
          <p>are Happy</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="pop-tours container">
    <div class="most-popular-tours text-center">
      <p class="color-orange font-weight-bold">FEATURED TOURS</p>
      <h1>Most Popular Tours</h1>
      <div class="d-flex tour-info">
        <div class="pop">
          <a href=""><img src="./assets/images/pop1.jpg"></a>
          <h5>Discover Depth of Beach</h5>
          <h6 class="text-danger">$1000<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Los Angeles </p>
        </div>
        <div class="pop text-center text-secondary small">
          <a href=""><img src="./assets/images/pop2.jpg"></a>
          <h5>Moscow Red City Land</h5>
          <h6 class="text-danger">$2000<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Europe</p>
        </div>
        <div class="pop text-center text-secondary small">
          <a href=""><img src="./assets/images/pop3.jpg"></a>
          <h5>Magic of Italy Tours</h5>
          <h6 class="text-danger">$890<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Italy</p>
        </div>
      </div>

      <div class="d-flex tour-info">
        <div class="pop">
          <a href=""><img src="./assets/images/pop4.jpg"></a>
          <h5>The Dark Forest Adventure</h5>
          <h6 class="text-danger">$1500<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Africa</p>
        </div>
        <div class="pop text-center text-secondary small">
          <a href=""><img src="./assets/images/pop5.jpg"></a>
          <h5>Maldieves Nature and Beach</h5>
          <h6 class="text-danger">$3000<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Maldieves</p>
        </div>
        <div class="pop text-center text-secondary small">
          <a href=""><img src="./assets/images/pop6.jpg"></a>
          <h5>City of Fashion</h5>
          <h6 class="text-danger">$4000<small class="text-secondary">/person</small></h6>
          <hr>
          <p class="text-secondary"><i class="fas fa-clock"></i>6 Days <i class="fas fa-user"></i> 15+<i
              class="fas fa-map"></i>Paris</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-image">
    <img src="./assets/images/bg-image.jpg">
    <div class="img-content text-center">
      <p>Tourist Guide is a World Leading</p>
      <p>Online Tour Booking Platform</p>
    </div>
  </div>

  <div class="top-reviews text-center text-secondary">
    <p class="color-orange font-weight-bold">CHECK OUT OUR</p>
    <h1>Top Tour Reviews</h1>
    <div class="revws-center container">
      <div class="review">
        <p class="color-orange"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>Good value package but quite excruciating to book. Had to keep going backwards and forwards selecting
          different dates and rooms to see which were included in the "bula bubble".</p>
          <p class="style">- Lauren Taylor</p>
      </div>
      <div class="review">
        <p class="color-orange"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>Deals always tend to be hard to beat on travel online. We've booked with them for years for this reason. </p>
        <p class="style">- Angela Brock</p>
      </div>
      <div class="review">
        <p class="color-orange"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>From the online booking, to the actual trip itself was relatively easy! Had no problems whatsoever and any
          queries I had was swiftly dealt with. </p>
          <p class="style">- Tiho Dragojevich</p>
      </div>
      <div class="review">
        <p class="color-orange"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p>My experience was very positive. I found everyone very professional and helpful.</p>
        <p class="style">- Merilyn Baker</p>
      </div>
    </div>


  </div>
</div>
