<div class="blog">
  <div id="demo" class="carousel slide tab-relative" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner banners">
      <div class="carousel-item active position">
        <img src="./assets/images/banner1.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>

      </div>
      <div class="carousel-item position">
        <img src="./assets/images/banner2.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>
      </div>
      <div class="carousel-item position">
        <img src="./assets/images/banner3.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="team container">
    <h1>Our Team</h1>
    <div class="member text-center">
      <div class="team-mates row">
        <div class="person col">
          <img src="./assets/images/team1.jpg">
          <h3>Jhon Nick</h3>
          <p class="text-secondary">Travel Agent</p>
          <div class="social d-flex">
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/youtube.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/twitter.png"></a>
            <a href="https://www.google.com/" target="_blank"><img src="./assets/images/google.png"></a>
          </div>
        </div>
        <div class="person col">
          <img src="./assets/images/team2.jpg">
          <h3>Charles Joe</h3>
          <p class="text-secondary">C E O</p>
          <div class="social d-flex">
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/youtube.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/twitter.png"></a>
            <a href="https://www.google.com/" target="_blank"><img src="./assets/images/google.png"></a>
          </div>
        </div>
        <div class="person col">
          <img src="./assets/images/team4.jpg">
          <h3>Christin paul</h3>
          <p class="text-secondary">Travel Driver</p>
          <div class="social d-flex">
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/youtube.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/twitter.png"></a>
            <a href="https://www.google.com/" target="_blank"><img src="./assets/images/google.png"></a>
          </div>
        </div>
        <div class="person col">
          <img src="./assets/images/tea3.jpg">
          <h3>Jhon Paul</h3>
          <p class="text-secondary">Travel Guide</p>
          <div class="social d-flex">
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png"></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/youtube.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/twitter.png"></a>
            <a href="https://www.google.com/" target="_blank"><img src="./assets/images/google.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="choose container">
    <h1>Why To Choose us?</h1>
    <p class="text-secondary">
      Online travel agencies provide transparent prices without hidden costs. Some fares tend to change at the time of
      payment due to various algorithms, which can be annoying. However, the most affordable prices can be availed
      through online travel portals.
    </p>
    <p class="text-secondary">Every year OTAs spend millions of dollars attracting consumers from around the world
      to their online travel
      marketplaces. Their investment in on online and tv advertising, billboards and sponsorships, social media and
      other marketing channels helps hotels to engage hard-to-reach travelers they couldn’t afford to reach otherwise.
      OTAs give you a low risk opportunity to grow your business, especially if you have limited marketing funds.</p>

    <div class="choose-us row container">
      <div class="relt col">
        <img src="./assets/images/choose1.png" class="rel">
        <div class="abs">
          <p>PERSONALIZED SERVICE</p>
        </div>
      </div>
      <div class="relt col">
        <img src="./assets/images/choose2.png" class="rel">
        <div class="abs">
          <p>24x7 SUPPORT</p>
        </div>
      </div>
      <div class="relt col">
        <img src="./assets/images/choose5.jpg" class="rel">
        <div class="abs">
          <p>BEST PRICE</p>
        </div>
      </div>
      <div class="relt col">
        <img src="./assets/images/choose3.png " class="rel">
        <div class="abs">
          <p>TRUSTED COMPANY</p>
        </div>
      </div>
    </div>
  </div>
  <div class="seperation">
    <p>.</p>
    <div class="sper-cnttn text-center text-light">
      <p>Our Services are Available 24x7</p>
      <p>At any Time Contact Us</p>
      <p>Contact no: 1234 567 890</p>
    </div>
  </div>

  <div class="location row mb-5 container">
    <div class="address col-6-xl col-6-md col-6-lg col-12-sm col-12-xs">
      <h3>Our Location</h3>
      <p>jgufgfuywgaueuwifiucuvuwuurwuiuvigiuwgeuiviurugv</p>
      <p>lojwideuw iqiueuwdb weuqwcu uhuqdeg duwfgc</p>
      <p>dguywgcuyegwyugc jgcxydqwvyvc qgfdyqtfdx yqdsfx</p>
    </div>
    <div class="map col-6-xl col-6-md col-6-lg col-12-sm col-12-xs">
      <img src="./assets/images/map.png">
    </div>
  </div>


</div>
