<div class="accomodation container">
  <h1>Our Accomodation</h1>
  <div class="accomdtn  text-center d-flex row">
    <div class="acco-cntnt col">
      <i class="fas fa-desktop"></i>
      <p class="large font-weight-bold">FAST AND EASY BOOKING</p>
      <p>Clean and Hygenic</p>
    </div>
    <div class="acco-cntnt col">
      <i class="fas fa-home"></i>
      <p class="large font-weight-bold">HOTELS AND ROOMS</p>
      <p>With Affordable costs</p>
    </div>
    <div class="acco-cntnt col">
      <i class="fas fa-map-marker-alt"></i>
      <p class="large font-weight-bold">THE BEST LOCATIONS</p>
      <p>With more than 1000+ Places</p>
    </div>
    <div class="acco-cntnt col">
      <i class="fas fa-money-bill"></i>
      <p class="large font-weight-bold">GREAT PRICES</p>
      <p>Affordable to all</p>
    </div>
    <div class="acco-cntnt col">
      <i class="fas fa-wifi"></i>
      <p class="large font-weight-bold">FREE AND FAST WIFI</p>
      <p>With very High Speed</p>
    </div>
  </div>

  <hr>
  <div class="good-vibes container">
    <p class="large font-weight-bold clr-p">BOOK A PERFECT ROOM</p>
    <h4>GOOD VIBES</h4>
    <p class="tab-space">Good vibes cannot be pinpointed. In order to feel or know good vibes, you have to be aware of
      your surroundings
      and connected to your self. Have you ever met someone for the first time but felt like that they are kind right
      away? Have you ever met someone randomly and they made you smile and feel good? Do you have any friends that you
      like being around because “something” about them makes you calm and feel good? That is all good vibes.</p>

    <h4>FAST AND EASY BOOKING</h4>
    <p class="tab-space">Good vibes cannot be pinpointed. In order to feel or know good vibes, you have to be aware of
      your surroundings
      and connected to your self. Have you ever met someone for the first time but felt like that they are kind right
      away? Have you ever met someone randomly and they made you smile and feel good? Do you have any friends that you
      like being around because “something” about them makes you calm and feel good? That is all good vibes.</p>

      <h4>THE BEST LOCATIONS</h4>
    <p class="tab-space">Good vibes cannot be pinpointed. In order to feel or know good vibes, you have to be aware of
      your surroundings
      and connected to your self. Have you ever met someone for the first time but felt like that they are kind right
      away? Have you ever met someone randomly and they made you smile and feel good? Do you have any friends that you
      like being around because “something” about them makes you calm and feel good? That is all good vibes.</p>

      <h4>BEST PRICES</h4>
    <p class="tab-space">Good vibes cannot be pinpointed. In order to feel or know good vibes, you have to be aware of
      your surroundings
      and connected to your self. Have you ever met someone for the first time but felt like that they are kind right
      away? Have you ever met someone randomly and they made you smile and feel good? Do you have any friends that you
      like being around because “something” about them makes you calm and feel good? That is all good vibes.</p>

      <h4>FREE AND FAST WIFI</h4>
    <p class="tab-space">Good vibes cannot be pinpointed. In order to feel or know good vibes, you have to be aware of
      your surroundings
      and connected to your self. Have you ever met someone for the first time but felt like that they are kind right
      away? Have you ever met someone randomly and they made you smile and feel good? Do you have any friends that you
      like being around because “something” about them makes you calm and feel good? That is all good vibes.</p>
  </div>


  <div class="images container d-flex accomdtn">
    <div class="width">
      <img src="./assets/images/hotel1.jfif">
      <img src="./assets/images/hotel2.jfif">
      <img src="./assets/images/hotel3.jfif">   
    </div> 
  </div>
</div>
