<div class="gallery text-center">
    <h1>Gallery</h1>
    <p  class="font-weight-bold">OUR HAPPY CUSTOMERS</p>
    <div class="padd">
        <img src="./assets/images/gallery1.jfif">
        <img src="./assets/images/gallery2.jfif">
        <img src="./assets/images/gallery3.jfif">
        <img src="./assets/images/gallery4.jfif">
        <img src="./assets/images/gallery5.jfif">
        <img src="./assets/images/gallery6.jfif">
        <img src="./assets/images/gallery7.jfif">        
        <img src="./assets/images/gallery9.jfif">
        <img src="./assets/images/gallery10.jfif">
        <img src="./assets/images/galery11.jfif">
        <img src="./assets/images/gallery13.jfif">
        <img src="./assets/images/gallery14.jfif">
        <img src="./assets/images/gallery12.jfif">       
        <img src="./assets/images/gallery17.jfif">
        <img src="./assets/images/gallery18.jfif">
        <img src="./assets/images/gallery16.png">     
    </div>
</div>
