<div class="home">
  <div id="demo" class="carousel slide tab-relative" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner banners">
      <div class="carousel-item active position">
        <img src="./assets/images/banner1.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>

      </div>
      <div class="carousel-item position">
        <img src="./assets/images/banner2.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>
      </div>
      <div class="carousel-item position">
        <img src="./assets/images/banner3.jpg" height="600">
        <div class="carousel-caption caption">
          <h1>Let's Discover World Together</h1>
          <h4>We shall Have a Great Time</h4>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="services m-5 row">
    <ul class="nav nav-tabs tab-bg" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#hotels">HOTELS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#flights">FLIGHTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cruise">CRUISE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cars">CARS</a>
      </li>
    </ul>
    <div class="tab-content bg-light tab-heading width">
      <div id="hotels" class="tab-pane active tab-heading"><br>
        <h3>HOTELS</h3>
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Your Destination</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Rooms</th>
                <th>Adults</th>
                <th>Kids</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" placeholder="Enter Your Destination Hotel"></td>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
              </tr>
            </tbody>
          </table>
          <div class="pymnt-mode text-decoration-none tet-dark pl-3">
            <p><a href="">Online Banking</a></p>
            <p><a href="">Credit/Debit Card</a></p>
            <p><a href="">UPI Payments</a></p>
            <p><a href="">Mobile Banking</a></p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button">Confirm
              Booking</button>
          </div>
        </div>

      </div>
      <div id="flights" class="tab-pane fade tab-heading"><br>
        <h3>FLIGHTS</h3>
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Date of Journey</th>
                <th>Type of Class</th>
                <th>Adults</th>
                <th>Kids</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" placeholder="Enter your Starting Point"></td>
                <td><input type="text" placeholder="Enter Your Destination Point"></td>
                <td><input type="date"></td>
                <td><select name="type" id="type">
                    <option value="">Busiess Class</option>
                    <option value="">First Class</option>
                    <option value="">Second Class</option>
                  </select></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
              </tr>
            </tbody>
          </table>
          <div class="pymnt-mode text-decoration-none tet-dark pl-3">
            <p><a href="">Online Banking</a></p>
            <p><a href="">Credit/Debit Card</a></p>
            <p><a href="">UPI Payments</a></p>
            <p><a href="">Mobile Banking</a></p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button">Confirm
              Booking</button>
          </div>
        </div>

      </div>
      <div id="cruise" class="tab-pane fade tab-heading"><br>
        <h3>CRUISE</h3>
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Date of Journey</th>
                <th>Type of Class</th>
                <th>Adults</th>
                <th>Kids</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" placeholder="Enter your Starting Point"></td>
                <td><input type="text" placeholder="Enter Your Destination Point"></td>
                <td><input type="date"></td>
                <td><select name="type" id="type">
                    <option value="">Busiess Class</option>
                    <option value="">First Class</option>
                    <option value="">Second Class</option>
                  </select></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
              </tr>
            </tbody>
          </table>
          <div class="pymnt-mode text-decoration-none tet-dark pl-3">
            <p><a href="">Online Banking</a></p>
            <p><a href="">Credit/Debit Card</a></p>
            <p><a href="">UPI Payments</a></p>
            <p><a href="">Mobile Banking</a></p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button">Confirm
              Booking</button>
          </div>
        </div>

      </div>
      <div id="cars" class="tab-pane fade tab-heading"><br>
        <h3>CARS</h3>
        <div class="table-responsive">
          <table class="table table-borderless cars">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Date of Journey</th>
                <th>Car Model</th>
                <th>No. of Cars</th>
                <th>Adults</th>
                <th>Kids</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" placeholder="Enter your Starting Point"></td>
                <td><input type="text" placeholder="Enter Your Destination Point"></td>
                <td><input type="date"></td>
                <td><select name="car" id="type">
                    <option value="">Innova</option>
                    <option value="">Ford</option>
                    <option value="">Scoda</option>
                    <option value="">Volvo</option>
                  </select></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
              </tr>
            </tbody>
          </table>
          <div class="pymnt-mode text-decoration-none tet-dark pl-3">
            <p><a href="">Online Banking</a></p>
            <p><a href="">Credit/Debit Card</a></p>
            <p><a href="">UPI Payments</a></p>
            <p><a href="">Mobile Banking</a></p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary mb-3 font-weight-bold pr-5 pl-5 button">Confirm
              Booking</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="recomended container">
    <div class="recmd-hotelp border">
      <h3>Recomended Hotels</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/images/hotel1.jfif">
          <div class="card-body">
            <h4 class="card-title">Costa Brava</h4><span>
              <p>Avg/day<br>$100</p>
            </span>
            <a href="#" class="btn btn-primary btn-small mr-3 btn-brdr">Book</a>
            <a href="#" class="btn btn-primary btn-small btn-brdr">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/hotel2.jfif">
          <div class="card-body">
            <h4 class="card-title">Hotel Hilton</h4><span>
              <p>Avg/day<br>$150</p>
            </span>
            <a href="#" class="btn btn-primary btn-small mr-3 btn-brdr">Book</a>
            <a href="#" class="btn btn-primary btn-small  btn-brdr">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/hotel3.jfif">
          <div class="card-body">
            <h4 class="card-title">Gran Caaria</h4><span>
              <p>Avg/day<br>$130</p>
            </span>
            <a href="#" class="btn btn-primary btn-small mr-3 btn-brdr">Book</a>
            <a href="#" class="btn btn-primary btn-small  btn-brdr">View</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/hotel4.jfif">
          <div class="card-body">
            <h4 class="card-title">Forte De Valle</h4><span>
              <p>Avg/day<br>$180</p>
            </span>
            <a href="#" class="btn btn-primary btn-small mr-3 btn-brdr">Book</a>
            <a href="#" class="btn btn-primary btn-small  btn-brdr">View</a>
          </div>
        </div>
      </div>
      <p class="tab-space small">Our hotels located in the heart of the historic center of Florence in an extremely
        characteristic, quite and
        lively area within short walk distance to all sites and is surrounded by the extraordinary beauty of churches,
        buildings, shops and monuments. Cellai Hotel is part of a lovingly restored 1800 palace.</p>
      <p class="tab-space small">The view from my hotel room window alone is worth the trip, and then there are all the
        little
        extras that make
        a stay at the Park Hotel so special. Regardless of whether you are on a business or private trip, I want you to
        feel completely at ease with me. And I can assure you, my designers went to great lengths to live up to this
        claim.</p>
      <p><a href="" class="pl-3"  data-toggle="collapse" data-target="#demo1">View More</a></p>
      <div id="demo1" class="collapse small text-secodary tab-space">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>
    </div>

    <div class="recmd-flights img-height border ">
      <h3>Recomended Flights</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/images/flight1.jfif">
          <div class="card-body">
            <h4 class="card-title">Air India</h4><span>
              <p>Avg/Trip<br>$500</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/emirates.jfif">
          <div class="card-body">
            <h4 class="card-title">Emirates</h4><span>
              <p>Avg/Trip<br>$580</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/express.jfif">
          <div class="card-body">
            <h4 class="card-title">Express</h4><span>
              <p>Avg/Trip<br>$600</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/indigo.jfif">
          <div class="card-body">
            <h4 class="card-title">Indigo</h4><span>
              <p>Avg/Trip<br>$620</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
      </div>
      <p class="tab-space small">In airline parlance, in-flight service refers to offerings by an airline, both free and
        paid,
        that add to a
        passenger's flying experience. Such items provided as in-flight services may include meals, snacks, beverages,
        duty-free shopping, and others made available during a flight for the convenience of the passenger</p>
      <p><a href="" class="pl-3"  data-toggle="collapse" data-target="#demo2">View More</a></p>
      <div id="demo2" class="collapse small text-secodary tab-space">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>
    </div>
    <div class="recmd-cruise img-height border">
      <h3>Recomended Cruise</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/images/cruise1.jfif">
          <div class="card-body">
            <h4 class="card-title">Renault Sedan</h4><span>
              <p>Avg/Trip<br>$500</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/cruise2.jfif">
          <div class="card-body">
            <h4 class="card-title">Baja Mexico</h4><span>
              <p>Avg/Trip<br>$580</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/cruise3.jfif">
          <div class="card-body">
            <h4 class="card-title">Renault Mexico</h4><span>
              <p>Avg/Trip<br>$600</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/cruise4.jfif">
          <div class="card-body">
            <h4 class="card-title">Hundai Sedan</h4><span>
              <p>Avg/Trip<br>$620</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr" >Book</a>
          </div>
        </div>
      </div>
      <p class="tab-space small">There are 4 restaurants to choose from, ranging from buffet to a la carte and a choice
        of
        cuisine ranging from Mexican, Italian to French. The ship also has 18 bars/lounges including L’Espresso coffee
        bar, Jazz bar, Piano bar, Wine bar, Sports bar (where you could go bowling) Cigar lounge and a pool bar.

        Plus there are 5 pools to choose from, 12 jacuzzis, a large gym, solarium as well as basketball and tennis
        facilities.</p>
      <p><a href="" class="pl-3"  data-toggle="collapse" data-target="#demo3">View More</a></p>
      <div id="demo3" class="collapse small text-secodary tab-space">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>

    </div>
    <div class="recmd-cars img-height border">
      <h3>Recomended Cars</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/images/car1.jfif">
          <div class="card-body">
            <h4 class="card-title">Ford</h4><span>
              <p>Avg/Trip<br>$200</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/car2.jfif">
          <div class="card-body">
            <h4 class="card-title">Hudai</h4><span>
              <p>Avg/Trip<br>$280</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/car3.jfif">
          <div class="card-body">
            <h4 class="card-title">Mahindra</h4><span>
              <p>Avg/Trip<br>$300</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/car4.jfif">
          <div class="card-body">
            <h4 class="card-title">Rnault</h4><span>
              <p>Avg/Trip<br>$320</p>
            </span>
            <a href="#" class="btn btn-primary mr-5 btn-brdr">Book</a>
          </div>
        </div>
      </div>
      <p class="tab-space small">Think about what those customers will be looking for in a car. What would features
        matter to
        them the most? Take into consideration who your target market will likely be for the car you are selling. Stay
        realistic, and write a description that speaks to the audience who will be most liable to look at your page.</p>
      <p><a href="" class="pl-3"  data-toggle="collapse" data-target="#demo4">View More</a></p>
      <div id="demo4" class="collapse small text-secodary tab-space">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>
    </div>
  </div>










</div>
